.project-form-container {
  max-width: 400px;
  margin: auto;
  padding-bottom: 20px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 5%;
}
.purple-theme {
  background-color: #8a4dff; /* Purple background color */
  color: #fff; /* White text color */
}

.purple-text {
  text-align: center;
  color: #fff; /* Purple text color */
}

.input-label {
  margin-bottom: 5px;
  font-size: 16px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.submit-button {
  color: #fff; /* White text color */
  background-color: #5e35b1; /* Purple background color */
  padding: 12px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #4527a0; /* Darker purple background color on hover */
}
